<app-headline title="Cliente"></app-headline>
<div fxLayout fxLayoutAlign="center">
  <div class="keypad">
    <button mat-fab (click)="openForm(null)" color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card class="mat-elevation-z12" fxFlex="1 1 1000px">
    <app-table [list]="list" [columns]="metaColumns" (onClick)="openForm($event)">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="align-right">
          <div fxLayout fxLayoutGap="10px" fxLayoutAlign="end center">
            <div>
              <button mat-icon-button color="primary" (click)="viewInvoice($event,row)" matTooltip="Ver facturas">
                <mat-icon>zoom_in</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>
    </app-table>
  </mat-card>
</div>